// global variables

$default-font-size: 16px;

// colors
$colors: (
  // foreground colors, ie text, borders etc
  'primary': #f6f6f6,
  'secondary': #c9cfd9,
  'thirdy': #353945,
  'fourthy': #4fddfb,
  'letter-gray': #8895a3,

  // background colors
  'primary-bg': #1e2023,
  'secondary-bg': #1a1b1f,
  'thirdy-bg': #67cde0
);

// fonts

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/inter/Inter-SemiBold.ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/lato/Lato-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('/fonts/lato/Lato-Black.ttf');
  font-weight: 900;
  font-style: normal;
}
